<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="background-color: #212529; color: #fff">
<h1 class="text-center my-5">Product List</h1>

<section class="container">
    <table class="table table-info table-striped" id="productTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Status</th>
        <th>Category</th>
        <th>Thumbnails</th>
    </tr>
        </thead>
        <tbody>
        {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.status}}</td>
                <td>{{this.category}}</td>
                <td>{{#each this.thumbnails}}
                    <img src="{{this}}" alt="thumbnail" style="max-width: 100px; max-height: 100px;">
                {{/each}}
                </tr>
        {{/each}}
        </tbody>
    </table>
</section>

<div class="text-center mt-5">
    <a href="/realtimeproducts" class="btn btn-primary">Go to Real-Time Products</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>